body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

h1 {
    color: white;
    font-size: 2em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.task {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 1.2em;
    color: black;
}

.taskpending {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 1.2em;
    background: #ffc107;
}

.taskcompleted {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 1.2em;
    background: #8bc34a;
}

.input-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.input-container input {
    flex: 1;
    padding: 10px;
    font-size: 1em;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.input-container button {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 1.2em;
    background: black;
    color: white;
    border: none;
    border-radius: 10%;
    cursor: pointer;
}

.input-container button:hover {
    background: #333;
}